/* Flexbox */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 80px;
}

/* Floating nav bar  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url('../assets/img/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 3vw; 
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo img, #nav-btn-logout {
  width: 40px;
  height: 40px;
}

.header-content {
  display: flex;
  gap: 1.5vw;
  margin-right: 4vw;
}

#nav-btn-login, #nav-btn-register {
  padding: 0.5vw 1vw;
  text-decoration: none;
  cursor: pointer;

}

/* Main content : form, input, button, message error  */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 15rem;
    margin : 20px;
    padding : 20px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

input {
    margin: 0.75em 0;
    padding: 0.75em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #A0A0D5;
}

input::placeholder {
    color: #fffdfd;
}

.formItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, #goRegister, #signIn {
    margin: 10px 0 5px 0;
    padding-left: 10px;
}

#btnLogin, #btnRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #D27DFB;
    color: white;
    border: none;
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#btnLogin:hover, #btnRegister:hover {
    background-color: #BB5EDB;
}

#error {
    color: red;
    font-weight: bold;
    text-align: center;
}

#goRegister {
  color: #6a5acd;
  cursor: pointer;
  font-weight: 600;
}

#goRegister:hover {
  color:  #BB5EDB;
  text-decoration: underline;
}

/* footer */
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.footer-logos {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 200px; 
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer-logos img {
  width: 40px; 
  height: auto;
}

.footer-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0073b1;
}


/* Profile Card */


.card {
  max-width: 320px;
  border-radius: 1rem;
  background-color: rgba(31, 41, 55, 1);
  padding: 1rem;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-color: rgb(118, 36, 194);
  background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240));
}

.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}
